@import "./variables.scss";

#page-login {
  display: flex;
  align-items: stretch;
  height: 100vh; /* Ocupa tamanho total da altura da tela */

  aside {
    flex: 6;

    background: var(--black);
    color: var(--white);

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 120px 80px;

    img {
      max-width: 450px;
    }

    strong {
      font: 700 36px "Poppins", sans-serif;
      line-height: 42px;
      margin-top: 16px;
    }

    p {
      font-size: 24px;
      line-height: 32px;
      margin-top: 16px;
      color: var(--almost-white);
      opacity: 0.8;
    }
  }

  span {
    display: flex;
    flex-direction: row-reverse;
    font-size: 14px;
    margin-top: 10px;
  }

  main {
    flex: 8;

    .register-content {
      margin: 15px;
      display: flex;
      justify-content: flex-end;
    }
    .main-content {

      max-width: 400px;
      margin: auto;
      margin-top: 200px;

      form {
        
        .pass{
          position: relative;

          i {
            margin: 8px;
          }
        }

        input {
          height: 43px;
          border-radius: 8px;
          padding: 0 16px;
          background: var(--white);
          border: 1px var(--info);
          margin-top: 13px;
        }

        button {
          margin-top: 13px;
        }

        button,
        input {
          width: 100%;
        }
      }

      p {
        font-size: 14px;
        color: var(--info);
        margin-top: 16px;
        a {
          color: var(--pink);
        }
      }

      .login-google {
        margin-top: 64px;
        height: 43px;
        border-radius: 10px;
        border: 1px solid var(--border-button);
        background: transparent;
        width: 400px;

        cursor: pointer;

        transition: filter 0.2s;

        img {
          width: 35px;
        }

        &:hover {
          filter: brightness(0.9);
        }
      }
      .separator {
        font-size: 14px;
        color: var(--gray-light);
    
        margin: 32px 0;
        display: flex;
        align-items: center;
    
        &::before {
          content: "";
          flex: 1;
          height: 1px;
          background: var(--gray-light);
          margin-right: 16px;
        }
    
        &::after {
          content: "";
          flex: 1;
          height: 1px;
          background: var(--gray-light);
          margin-left: 16px;
        }
      }
    }
    .password-icon {
      position: absolute;
      top: 20px;
      right: 5px;
      cursor: pointer;
    }
  }
}
