:root {
    --almost-white: #f8f8f8;
    --text: #29292e;
    --black: #000000;
    --button: #FFE600;
    --border-button: #767272;
    --white: white;
    --gray-light: #a8a8b3;
    --pink: #e559f9;
    --red-google: #ea4335;
    --border-color: #e2e2e2;
    --background: #fefefe;
    --info: #737380;
    --highlighted: #F4F0FF;
} 