:root {
    --almost-white: #f8f8f8;
    --text: #29292e;
    --black: #000000;
    --button: #FFE600;
    --border-button: #767272;
    --white: white;
    --gray-light: #a8a8b3;
    --vertical-separator: #BABABA;
    --pink: #e559f9;
    --red-google: #ea4335;
    --border-color: #e2e2e2;
    --background: #fefefe;
    --info: #737380;
    --highlighted: #F4F0FF;

    --toastify-color-light: #fff;
    --toastify-color-dark: #121212;
    --toastify-color-info: #3498db;
    --toastify-color-success: #037006;
    --toastify-color-warning: #f1c40f;
    --toastify-color-error: #e74c3c;
    --toastify-color-transparent: rgba(255, 255, 255, 0.7);
  
    --toastify-icon-color-info: var(--toastify-color-info);
    --toastify-icon-color-success: var(--toastify-color-success);
    --toastify-icon-color-warning: var(--toastify-color-warning);
    --toastify-icon-color-error: var(--toastify-color-error);
}